<a href="https://colab.research.google.com/github/s2tandu0p/sales-forecast/blob/main/Sales_Predictions_Loading_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [131]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [132]:
import pandas as pd
filename = '/content/drive/MyDrive/Personal/Dojo Data/data/sales_predictions.csv'
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

1. How many rows and columns? ***8523 rows and 12 columns***

---

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

2. what are the datatypes of each variable

In [134]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

3. are there duplicates? if so, drop any duplicates*** No***

In [135]:
df.duplicated().sum()

0

In [136]:
df.loc[df.duplicated(), :]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

4,5,&6. Identify missing values

In [137]:
# look for missing values
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [138]:
# create a new df with missing values
missing_df = df[['Item_Weight', 'Outlet_Size']]
missing_df.head()

# I have weight missing here assuming that's the weight of the product
# based on my limited knowledge of this data set;
# i do not believe weight is going to affect the sales, without knowing the unit
# so for missing weight, i'm going to use average to fill in missing data for weight

df['Item_Weight'].fillna(df['Item_Weight'].mean(), inplace = True)
df['Item_Weight'].isnull().sum()
df.head()

# for missing outlet size
# i do believe the size of the outlet would affect sales
# human nature
# some might want to go to smaller stores and some big stores
# i'd like to do multiple with large, small, medium fillna
# but due to time, i'm going to use 'Medium' to fillna

df['Outlet_Size'].fillna('Medium', inplace = True)
df['Outlet_Size'].isnull().sum()

df.head()
df.info()
df.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

0

7. find and fix any inconsistent categories of data

In [139]:
# look for unique values for each column
for col in df:
    print(df[col].unique())

['FDA15' 'DRC01' 'FDN15' ... 'NCF55' 'NCW30' 'NCW05']
[ 9.3         5.92       17.5        19.2         8.93       10.395
 13.65       12.85764518 16.2        11.8        18.5        15.1
 17.6        16.35        9.         13.35       18.85       14.6
 13.85       13.          7.645      11.65        5.925      19.25
 18.6        18.7        17.85       10.          8.85        9.8
 13.6        21.35       12.15        6.42       19.6        15.85
  7.39       10.195       9.895      10.895       7.905       9.195
  8.365       7.97       17.7        19.35        8.645      15.6
 18.25        7.855       7.825       8.39       12.85       19.
  5.905       7.76       16.75       15.5         6.055       6.305
 20.85       20.75        8.895      19.7         8.75       13.3
  8.31       19.75       17.1        10.5         6.635      14.15
  8.89        9.1         7.5        16.85        7.485      11.6
 12.65       20.25        8.6        12.6         8.88       20.5
 13.5         7.235       6.92        8.02       12.8        16.6
 14.         16.         21.25        7.365      18.35        5.465
  7.27        6.155      19.5        15.2        14.5        13.1
 12.3        11.1        11.3         5.75       11.35        6.525
 10.3         5.78       11.85       18.75        5.26       16.1
  9.5        13.8        14.65        6.67        6.11       17.2
  6.32        4.88        5.425      14.1         7.55       17.25
 12.         10.1         7.785      13.15        8.5         7.63
  9.285       7.975      15.7         8.985      20.35        6.59
 19.85        6.26       18.2         8.695       7.075       8.195
  7.09        6.095       6.15        9.395      15.75        7.475
  6.445      19.1        15.         16.7         7.07        6.48
  9.695      11.15        9.6        20.7         5.5         7.895
 17.35        7.285       6.17       11.395       7.71       12.1
 14.35        8.1         8.05       16.5         6.785       7.575
  7.47       15.25        7.605      18.         21.2         8.97
 10.6         6.865      10.8        15.15       18.1         6.655
 20.1         7.935      15.35       12.35        6.85        8.775
 14.85        7.84       12.5         8.325       5.765       5.985
 14.3         6.135       8.51        6.65        5.695       6.36
  8.3         7.56        8.71        6.695      14.8        17.75
  8.575       6.57        8.68        5.63        9.13        6.715
  5.82        7.93        5.          7.445       6.675       8.18
  6.98        7.435      20.6         8.355       8.975      20.2
  5.655       5.175      20.          7.67        4.785       8.395
  6.175       8.21        5.845       7.17        8.785       7.89
  5.32        5.03        8.945       6.28        7.565       9.31
  7.02        5.46        6.13        6.55       17.         16.25
  5.15        7.865       6.575       7.06        5.785       7.42
  6.235       6.75        5.86        5.035       6.38        5.675
 11.5        21.         21.1         4.61        7.          6.405
 14.7         7.68        8.185       8.655      10.85        8.42
  7.85        4.59        7.51       11.          6.71       14.75
  7.59        5.155       6.365       8.235       5.365       8.485
  7.535       4.92        6.385       8.26        7.945       8.63
  9.21        6.965       8.905       7.21        7.3         9.27
 10.695       6.215       7.405       7.72        6.115       6.035
  6.78       15.3         7.105       7.52        4.805       6.425
  7.6         6.61        7.325       8.115       5.94        5.635
  7.35        5.825       6.63        7.05        8.315       6.8
  7.035       8.96        5.51        8.43        8.27        7.81
  6.885       5.44        5.405       4.635      10.65        5.735
  6.465       8.84        7.75        6.765       9.065       7.655
  4.615       8.76        7.1         6.195       5.615       8.52
  7.26        6.825       5.325       5.59        5.88        5.19
  6.985       9.06        6.69        8.615       7.275       6.96
  9.17        8.155       5.73        8.935       8.92        7.36
  7.64        5.34        7.22        6.615       6.76        6.3
  5.98        8.06        6.44        5.095       8.8         6.325
  7.31        9.035       9.105       7.145       4.905       4.555
  8.          7.315       6.89        5.945       6.86        6.935
  6.03        7.725       5.885       7.155       6.46        5.48
  8.01        5.8         5.305       6.905       7.96        5.11
  8.77        7.685       8.275       8.38        8.35        9.42
  6.775       6.4         6.895       5.485       6.52        8.67
  5.21        5.4       ]
['Low Fat' 'Regular' 'low fat' 'LF' 'reg']
[0.0160473  0.01927822 0.01676007 ... 0.03518627 0.14522065 0.04487828]
['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']
[249.8092  48.2692 141.618  ...  57.5904 214.5218  75.467 ]
['OUT049' 'OUT018' 'OUT010' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046'
 'OUT035' 'OUT019']
[1999 2009 1998 1987 1985 2002 2007 1997 2004]
['Medium' 'High' 'Small']
['Tier 1' 'Tier 3' 'Tier 2']
['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']
[3735.138   443.4228 2097.27   ... 7182.6504 3608.636  2778.3834]

In [140]:
# lowfat column should be fixed for consistency
# maybe supermarket column too but i'm going to skip for now
# make low fat column with 'Low Fat' and 'Regular'

fat_filter_1 = df['Item_Fat_Content'] == 'low fat'
fat_filter_2 = df['Item_Fat_Content'] == 'LF'
regular_filter = df['Item_Fat_Content'] == 'reg'

df[fat_filter_2 | fat_filter_1]

df.loc[fat_filter_2 | fat_filter_1, 'Item_Fat_Content'] = 'Low Fat'
df.loc[regular_filter, 'Item_Fat_Content'] = 'Regular'

print(df['Item_Fat_Content'].unique())

['Low Fat' 'Regular']

8.  For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [141]:
# creat df with only numerical columns in

float_df = df.select_dtypes('float64')
float_df.head()

   Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
0         9.30         0.016047  249.8092          3735.1380
1         5.92         0.019278   48.2692           443.4228
2        17.50         0.016760  141.6180          2097.2700
3        19.20         0.000000  182.0950           732.3800
4         8.93         0.000000   53.8614           994.7052

In [142]:
for col in float_df:
    min = float_df[col].min()
    max = float_df[col].max()
    mean = float_df[col].mean()
    print(col, 'summary statistics are:', 'min=', min, 'max=', max, 'mean=', mean )

# not sure if groupby or pivot can be used here and how??

Item_Weight summary statistics are: min= 4.555 max= 21.35 mean= 12.857645184136409
Item_Visibility summary statistics are: min= 0.0 max= 0.328390948 mean= 0.06613202877895127
Item_MRP summary statistics are: min= 31.29 max= 266.8884 mean= 140.9927819781768
Item_Outlet_Sales summary statistics are: min= 33.29 max= 13086.9648 mean= 2181.2889135750365